* {
}

window#waybar {
	background-color: black;
	color: white;
}

#workspaces button {
	color: white;
}
#workspaces button.focused {
	background-color: white;
	color: black;
	font-weight: bold;
}

#clock,
#pulseaudio,
#battery {
	font-weight: bold;
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 5px;
}

#clock {
	font-weight: normal;
	font-size: 12px;
}
